{% extends "shop/base.html" %}

{% block title %}
    Check
{% endblock %}

{% block content %}
    <h1>Check</h1>
    <div class="order-info">
        <h3>Order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>PLN{{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Summary: {{ cart.get_total_price }} PLN</p>
    </div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Make the order"></p>
        {% csrf_token %}
    </form>
{% endblock %}